<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Extension Updates</key>
    <array>
      <dict><key>CFBundleIdentifier</key>
        <string>com.aroberts.safari.jsonformatter</string>
        <key>Developer Identifier</key>
        <string>6ZTFH7TWRT</string>
        <key>CFBundleVersion</key>
        <string>8</string>
        <key>CFBundleShortVersionString</key>
        <string>1.3</string>
        <key>URL</key>
        <string>http://github.com/downloads/aroberts/safari-json-formatter/JSON_Formatter-1.3.safariextz</string>
      </dict>
    </array>
  </dict>
</plist>
